# Сначала игнорируем ВООБЩЕ ВСЁ
*

# # 2. Разрешаем Git заходить ТОЛЬКО в папки Модулей
!module*/

# # 3. Внутри этих папок игнорируем всё...
!module*/*

# # 4. ...КРОМЕ папок homework (теперь заходим в них)
!module*/*/homework/

# # Но разрешаем (вытаскиваем из игнора) только папки с домашками и ноутбуки
!module*/
!*.ipynb
!.gitignore

# Снова явно запрещаем конкретные файлы, даже если они .ipynb
module*/*/lectures/
module*/lectures/
module*/self_practice
notes.ipynb
my_*
temp.ipynb
kaggle*

# # Системный мусор мака
.DS_Store