# Сначала игнорируем ВООБЩЕ ВСЁ
*

# # 2. Разрешаем Git заходить ТОЛЬКО в папки Модулей
!Модуль*/

# # 3. Внутри этих папок игнорируем всё...
Модуль*/*

# # 4. ...КРОМЕ папок homework (теперь заходим в них)
!Модуль*/homework/

# # Но разрешаем (вытаскиваем из игнора) только папки с домашками и ноутбуки
!Модуль*/
!*.ipynb
!.gitignore

# Снова явно запрещаем конкретные файлы, даже если они .ipynb
notes.ipynb
my_*
temp.ipynb

# # Системный мусор мака
.DS_Store